<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Derivco Orniscient</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/vis.css" />
    <link type="text/css" href="~/css/react-select.css" rel="stylesheet"/>
    <link rel="icon" href="@Url.Content("~/favicon.ico")">
</head>
<body>
<header class="navbar navbar-inverse" style="margin-bottom: 0px; height: 60px; border-radius: 0 0 4px 4px;">
    <div class="container navbar-header">
        <a class="navbar-brand brand" href="#">
            <img alt="Brand" src="@Url.Content("~/images/derivco.png")">
        </a>
        @Html.ActionLink("Orniscient", "Index", "Dashboard", new {area = ""}, new {@class = "navbar-brand heading"})
    </div>
</header>
<div class="container-fluid" style="padding-bottom: 60px">
    @RenderBody()
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/vis/dist/vis.js"></script>
<script src="~/js/site.min.js"></script>
@Html.Partial("_GlobalUrls")
@RenderSection("scripts", required: false)
</body>
</html>
